/* Mengatur margin kiri untuk header dan main */
.header {
    margin-left: 20px;
}

.main {
    margin-left: 20px;
}


.header {
    background-color: black; 
    color: white 
}

.main {
    background-color: grey; 
    color: #333; 
}

.footer {
    background-color: #333; 
    color: #fff; 
}
