html,head
body{
       background-image: url(background.png);
       background-repeat: no-repeat;
       background-size: 100% 40%;
       font-family: Georgia, 'Times New Roman', Times, serif;
       text-align: justify;
       margin-left: auto;
}
h1{    
       text-align: center;
       font-size: 60px;
       font-family: comic sans MS;
       color:darkblue
       
       
}
h1{
    margin-left: 100px;
}
h3{
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    

    
    
}


.instagram {
       color: red;
       font-variant: small-caps;
       margin-left: 75px;
}

.p1{
       text-align: center;
       color: orange;
}
.p2{
       text-align: center;
       
}


h4{
       font-style: italic;
       text-align: center;
       margin-left: 100px;
}