/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Style header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

h1 {
    padding-bottom: 30px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produk {
    margin-top: 20px;
}

.produk p {
    color: lightseagreen;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}